@import "./components/cards.css";
@import "./components/navigation.css";
@import "./components/header.css";
@import "./components/profile.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #57679e;
}

main {
  margin-top: 20vh;
  margin-bottom: 14vh;
}
