* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header section */

h1 {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  background-color: lightblue;
  border: 2px solid black;
  padding: 5vh;
  margin: 0%;
  text-align: center;
  z-index: 1;
}

/* main section */

main {
  padding-top: 110px;
}

section {
  background-color: beige;
  max-width: 90%;
  margin: 30px auto;
  position: relative;
}

.safe {
  position: absolute;
  top: -20px;
  right: 30px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.safe .icon-hover {
  display: none;
}

.safe:hover .icon-default {
  display: none;
}

.safe:hover .icon-hover {
  display: block;
}

.safe img {
  display: block;
  width: 40px;
  transition: fill 0.3s ease;
}

.safe img:hover {
  fill: black;
}

section div {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.question {
  background-color: bisque;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.answer {
  background-color: lime;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.show-hide {
  padding: 20px;
  margin: 10px;
  width: 50%;
}

section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: green;
}

.tag {
  width: 80px;
  height: 40px;
}

/* footer section */

.footer {
  position: fixed;
  bottom: 0;
  border: 2px solid black;
}

.footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.--active {
  background-color: blue;
}

.--bookmark:hover,
.--profile:hover {
  background-color: yellow;
}
