* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header section */

h1 {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  background-color: lightblue;
  border: 2px solid black;
  padding: 5vh;
  margin: 0%;
  text-align: center;
}

/* footer section */

.footer {
  position: fixed;
  bottom: 0;
  border: 2px solid black;
}

.footer nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
