.cards {
  background-color: #f0c85d;
  margin: 30px auto;
  /* auto zentriert in diesem Fall */
  position: relative;
  box-shadow: 0px 5px 20px #000000;
}

.safe {
  position: absolute;
  top: -15px;
  right: 30px;
  background: none;
  border: none;
}

.img {
  width: 35px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  gap: 10px;
  text-align: center;
}

.question {
  margin-top: 30px;
}

.answer {
  background-color: #539a6b;
  padding: 10px;
  margin: 20px;
  border-style: dotted;
  border-color: #2d533a;
}

.toggle-answer {
  padding: 10px;
  margin: 10px;
  width: max-content;
  background-color: #57679e;
  color: #f0e2c5;
  border-width: 10px;
  border-color: #7385c1;
  box-shadow: 10px 10px 10px black;
}

.tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-left: 25px;
  gap: 10px;
}

.tag {
  width: max-content;
  padding: 5px;
  padding-inline: 10px;
  background-color: #ee4e4e;
  color: #f0e2c5;
  border-radius: 50px;
}
